<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="template.css"/>
    <title>Amazonia</title>
</head>
<body>
    <div class="grid-container">
        <header class="rows">
            <div>
                <a class="brand" href="index.html">amazonia</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <main>
            <div class="rows center">
                <div class="card">
                    <a hred="product.html">
                        <img src="./images/dude.jpg" alt="product" />
                    </a>
                    <div class="body">
                        <a href="product.html">
                            <h2>Gucci Slim Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-start"></i>
                            </span>
                            <span>
                                <i class="fa fa-start"></i>
                            </span>
                            <span>
                                <i class="fa fa-start"></i>
                            </span>
                            <span>
                                <i class="fa fa-start"></i>
                            </span>
                            <span>
                                <i class="fa fa-start"></i>
                            </span>
                        </div>
                        <div class="price">
                            $300
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="rows center">
            GiHub LinkedIn
        </footer>
    </div>
</body>
</html>
